.table {
    width: 90%;
    margin: 5%;
    margin-top: 2%;
}

.table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

table, th{
    font-weight: 700;
}

table, td {
    font-weight: 400;
}