{% extends 'task/base.html' %}
{% block content %}
    <div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Discription</th>
                <th>Done or Not</th>
                <th>Created Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for task in task_info %}
            <tr>
                <td>{{ task.task_title }}</td>
                <td>{{ task.task_discription }}</td>
                <td>
                    {% if task.task_status == False %}
                        {{ '<span style="color: red;">Incomplete</span>' }}
                    {% else %}
                        {{ '<span style="color: green;">Completed</span>' }}
                    {% endif %}
                </td>
                <td>{{ task.created_date }}</td>
                <td><a href="{% url 'task_edit' pk=task.id %}">Edit</a></td>
                <td><a href="{% url 'task_delete' pk=task.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <link rel="stylesheet" href="../../static/css/table.css">
{% endblock %}